/* CSS para telas pequenas (até 768px) */
@media screen and (max-width: 768px) {
    @charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    
    *{
        margin: 0px;
        padding: 0px;
    }
    
    :root{
        --cor0: #1A7FBD;
        --cor1: #A4DCFF;
        --cor2: #000;
        --cor3: #FFF;
    
        --fonte-padrao: "Noto Sans", sans-serif;
    }
    
    body {
        background-color: #1A7FBD;
        font-family: var(--fonte-padrao);
    }

    nav {
        width: auto;
        font-size: .7em;
        align-items: center;
    }

    nav > a {
        display: inline-block;
        position: relative;
        margin-left: 0px;
    }

   section#login {
        position: relative;
        margin-top: 400px;
        margin-left: 250px;
    }

    div#informativo {
        background-image: url(../icones/dev.png);
        background-position: center right;
        width: 100%;
        top: 1000px;
        left: 00px;
        background-size: cover;
        background-attachment: fixed;
    }

    main > img#topo {
        display: none;
    }

    section#container2 > main#img3 {
        display: none;
    }

    div#problema {
        background-color: var(--cor3);
        width: 90%;
        top: 1520px;
        left: 40px;
        background-image: url(../icones/Container2.png);
        background-position: top right;
        background-size: cover;
        background-attachment: fixed;
    }

    section#container3 {
        top:1700px;
        background-color: var(--cor3);
    }

    section#container3 > #img1, #img2 {
        display: none;
    }

    div#icon{
        position: relative;
        top: 1305px;
        left: -150px;
    }

    div#icon2{
        position: relative;
        top: 1310px;
        left: -510px;
    }
    div#icon3{
        position: relative;
        top: 1315px;
        right: 870px;
    }
    div#icon4{
        position: relative;
        top: 1320px;
        left: -150px;
    }
    div#icon5{
        position: relative;
        top: 1325px;
        right: 510px;
    }
    div#icon6{
        position: relative;
        top: 1330px;
        right: 870px;
    }
    div#icon7{
        position: relative;
        top: 1035px;
        left: -450px;
    }

    #icon7 > a {
        width: 49%;
    }

    #icon7 > img {
        display: none;
    }

    img#vetor {
        display: none;
    }

    div#problema1 {
        position: absolute;
        top:2000px;
        right: 50px;
    }

    div#problema2 {
        position: absolute;
        top:2250px;
        right: 50px;
    }

    div#problema3 {
        position: absolute;
        top:2500px;
        right: 50px;
    }

    section#container3 > h1 {
        position: relative;
        top: 1300px;
        left: 0px;
    }

    section#container4 {
        position: relative; 
        top: 1000px;
    }

    section#container4 > h1{
        margin-left: 100px;
    }

    section#container4 > #obj1{
        position: absolute;
        top: 200px;
        right: 40px; 
    }

    section#container4 > #obj2{
        position: absolute;
        top: 450px;
        right: 40px;
    }

    section#container4 > #obj3{
        position: absolute;
        top: 700px;
        right: 40px;
    }

    footer {
        position: relative;
        width: auto;
        top: 1500px;
    }

    footer > img#logo{
        position: absolute;
        width: 200px;
        margin-left: 50px;
        margin-top: 70px;
    }
    
    footer > img#fb {
        position: absolute;
        width: 18px;
        margin-left: 50px;
        margin-top: 150px;
    }
    
    footer > img#ig {
        position: absolute;
        width: 18px;
        margin-left: 80px;
        margin-top: 150px;
    }
    
    footer > img#in {
        position: absolute;
        width: 18px;
        margin-left: 110px;
        margin-top: 150px;
    }
    
    footer > p#p14 {
        position: absolute;
        font-size: 0.5em;
        margin-left: 50px;
        margin-top: 180px;  
    }
    
    footer > p#p15 {
        font-size: 1em;
        margin-left: 350px;
        margin-top: 50px;  
    }
    
    footer > p#p16 {
        font-size: 1em;
        margin-left: 350px;
        margin-top: 15px;  
    }
    
    footer > p#p17 {
        font-size: 1em;
        margin-left: 350px;
        margin-top: 15px;  
    }
    
    footer > p#p18 {
        font-size: 1em;
        margin-left: 350px;
        margin-top: 15px; 
    }
    
    footer > p#p19 {
        font-size: 1em;
        margin-left: 50px;
        margin-top: 10px;  
    }
    
    footer > p#p20 {
        font-size: 1em;
        margin-left: 50px;
        margin-top: 40px;  
    }
    
    footer > p#p21 {
        font-size: 1em;
        margin-left: 50px;
        margin-top: 10px;  
    }
    
    footer > a {
        position: relative;
        margin-left: 300px;
        top: 250px;
        background-color: var(--cor3);
        border: 2px solid var(--cor0);
        color: var(--cor2);
        padding: 10px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        padding-right: 10px;
        padding-top: 8px;
    }
    
    footer > a:hover {
        background-color: var(--cor1);
        border: 2px solid var(--cor2);
        color: var(--cor0);
    }
}