@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #1A7FBD;
    --cor1: #A4DCFF;
    --cor2: #000;
    --cor3: #FFF;

    --fonte-padrao: "Noto Sans", sans-serif;
}

body {
    background-color: #1A7FBD;
    font-family: var(--fonte-padrao);
}

nav{
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1em;
    font-weight: light;
    border-bottom: 1px solid white;
}

nav > a {
    background-color: var(--cor0);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition-duration: .4s;
    padding-right: 70px;
    padding-top: 5px;
}

nav > a:hover {
    background-color: var(--cor1);
}

nav > a#botao {
    background-color: #000;
    padding: 12px;
    border-radius: 8px;
}

nav > a#botao:hover {
    background-color: var(--cor1);
}

nav > picture > img {
    width: 12vw;
    padding-right: 70px;
    padding-top: 15px;
}

main img {
    width: 100%;
    margin-left: -15%;
}

section#login {
    position: absolute;
    top: 100%;
    right: 5px;
    overflow: hidden;

    background-color: white;
    width: 400px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
} 

section#login > div#formulário {
    display: block;
    padding: 20px;
}

div#formulário > h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: gray
}

div#formulário > p {
    font-size:  0.8em;
    color: var(--cor0);
    font-weight: bold;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: rgb(229, 229, 229);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 1px solid gray;
}

div.campo > label {
    display: none;
}

/*div.campo > i {
    color: white;
    font-size: 2em;
    width: 30px;
    padding: 5px;
}*/

div.campo > input {
    background-color: rgb(229, 229, 229);
    font-size: 0.7em;
    display: block;
    width: 80%;
    height: 90%;
    border: 0px;
    border-radius: 8px;
    margin: 5px 0px;
    padding: -10px;
    transform: translateY(-4px);
}

div.campo > input::placeholder {
    padding: 10px;
}

div#prog {
    display: block;
    background-color: var(--cor0);
    color: white;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 10px;
}

div#prog > legend {
    margin-left: 30px;
    margin-top: 5px;
}

input[type="checkbox"] {
    transform: scale(1);
    margin-right: 5px;
    margin-left: 5px;
}

div#prog > legend {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: normal;
}

div#prog > label > input {
    margin-bottom: 15px;
}

div#trab {
    margin-top: 10px;
    color: var(--cor0);
    font-size: 0.8em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

a.botao {
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1em;
    width: 90%;
    height: 36px;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 15px;
    background-color: var(--cor0);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

a.botao:hover {
    background-color: var(--cor1);
    color: var(--cor0);
}

p#p1 {
    text-align: center;
    color: var(--cor0);
    font-size: .7em;
    font-weight: bold;
    margin-top: 7px;
}

p#p2 {
    text-align: center;
    color: rgb(180, 180, 180);
    font-size: .6em;
    font-weight: bold;
    padding: 15px;
    margin-top: 7px;
}

p#p2 > a {
    color: var(--cor0);
    text-decoration: none;
}

select[name="estado"] {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(229, 229, 229);
    width: 100%;
    font-size: 0.7em; 
    cursor: pointer;
}

main#img2 img {
    padding-left: 200px;
    padding-top: 0px;
    padding: 0px;
    width: 36%;
    height: 100%;
    margin-left: 190px;
}

div#informativo {
    position: absolute;
    top: 200%;
    right: 290px;
    overflow: hidden;
    background-color: var(--cor0);
    width: 390px;
    height: 350px;
}

div#informativo > h2 {
    color: var(--cor1);
    font-size: 2.6em;
}

div#informativo > p#p3 {
    font-size: 0.9em;
    color: white;
    font-weight: normal;
}


div#informativo > p#p4 {
    font-size: 0.9em;
    color: white;
    font-weight: bold;
}

div#container2 {
    background-color: rgb(240, 240, 240);
}

main#img3 {
    background-color: rgb(240, 240, 240);
    width: 40vw;
    height: 100%;
    padding-left: 230px;
    padding-top: 0px;
    padding: 0px;
    margin-left: 230px;
}

div#container2 > div#problema > h2 {
    font-size: 2.6em;
    background: linear-gradient(to right, var(--cor0), var(--cor1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

div#problema {
    font-family: var(--fonte-padrao);
    position: absolute;
    top: 290%;
    right: 290px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    width: 400px;
    height: 430px;
}

div#problema > p#p5{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 2px solid lightgray;
}

div#problema > p#p6{
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 10px;
}

div#problema > p#p7{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 10px;
}


div#problema1{
    position: absolute;
    top: 370%;
    margin-left: 180px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 110px 100px rgba(0, 0, 0, 0.25);
}

div#problema1 > h2 {
    padding-top: 40px;
    font-size: 2em;
}

div#problema1 > p#p8 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1em;
    font-weight: normal;
}

div#problema2{
    position: absolute;
    top: 370%;
    margin-left: 595px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 110px 100px rgba(0, 0, 0, 0.25);
}

div#problema2 > h2 {
    padding-top: 40px;
    font-size: 2em;
}

div#problema2 > p#p9 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1em;
    font-weight: normal;
}

div#problema3{
    position: absolute;
    top: 370%;
    margin-left: 1010px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 110px 100px rgba(0, 0, 0, 0.25);
}

div#problema3 > h2 {
    padding-top: 40px;
    font-size: 2em;
}

div#problema3 > p#p10 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1em;
    font-weight: normal;
}

div#container3 {
    background-color: var(--cor3);
}

div#container3 > h1 {
    font-size: 2.6em;
    background: linear-gradient(to right, var(--cor0), var(--cor1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 380px;
}

div#container3 > img#img1 {
    padding: 0px;
    margin-top: 410px;
    position: absolute;
    margin-left: 900px;
    transform: (-100%, -50%);
}

div#container3 > img#img2 {
    padding: 0px;
    margin-top: 406px;
    position: absolute;
    margin-left: 250px;
    transform: scaleX(-1);
}

div#icon {
    position: absolute;
    top: 465%;
    margin-left: 220px;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor3);
    width: 350px;
    height: 75px;
    border-radius: 12px;
    background-color: var(--cor0);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.316);
}

div#icon > img {
    margin-top: 10px;
    margin-left: 10px;
    padding: 13px;
    background-color: var(--cor3);
    width: 8%;
    border-radius: 8px;
}

div#icon > p {
    margin-left: 89px; 
    margin-top: -53px;
    position: absolute;
}

div#icon2 {
    position: absolute;
    top: 465%;
    margin-left: 580px;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor3);
    width: 350px;
    height: 75px;
    border-radius: 12px;
    background-color: var(--cor0);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.316);
}

div#icon2 > img {
    margin-top: 10px;
    margin-left: 10px;
    padding: 13px;
    background-color: var(--cor3);
    width: 8%;
    border-radius: 8px;
}

div#icon2 > p {
    max-width: 210px;
    margin-left: 82px; 
    margin-top: -53px;
    position: absolute;
}

div#icon3 {
    position: absolute;
    top: 465%;
    margin-left: 940px;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor3);
    width: 350px;
    height: 75px;
    border-radius: 12px;
    background-color: var(--cor0);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.316);
}

div#icon3 > img {
    margin-top: 10px;
    margin-left: 10px;
    padding: 13px;
    background-color: var(--cor3);
    width: 8%;
    border-radius: 8px;
}

div#icon3 > p {
    max-width: 210px;
    margin-left: 82px; 
    margin-top: -53px;
    position: absolute;
}

div#icon4 {
    position: absolute;
    top: 477%;
    margin-left: 220px;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor3);
    width: 350px;
    height: 75px;
    border-radius: 12px;
    background-color: var(--cor0);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.316);
}

div#icon4 > img {
    margin-top: 10px;
    margin-left: 10px;
    padding: 14px;
    background-color: var(--cor3);
    width: 8%;
    border-radius: 8px;
}

div#icon4 > p {
    max-width: 210px;
    margin-left: 89px; 
    margin-top: -53px;
    position: absolute;
}

div#icon5 {
    position: absolute;
    top: 477%;
    margin-left: 580px;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor3);
    width: 350px;
    height: 75px;
    border-radius: 12px;
    background-color: var(--cor0);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.316);
}

div#icon5 > img {
    margin-top: 14px;
    margin-left: 10px;
    padding: 15px;
    background-color: var(--cor3);
    width: 8%;
    border-radius: 8px;
}

div#icon5 > p {
    max-width: 230px;
    margin-left: 85px; 
    margin-top: -50px;
    position: absolute;
}

div#icon6 {
    position: absolute;
    top: 477%;
    margin-left: 940px;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor3);
    width: 350px;
    height: 75px;
    border-radius: 12px;
    background-color: var(--cor0);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.316);
}

div#icon6 > img {
    margin-top: 10px;
    margin-left: 10px;
    padding: 13px;
    background-color: var(--cor3);
    width: 8%;
    border-radius: 8px;
}

div#icon6 > p {
    max-width: 180px;
    margin-left: 85px; 
    margin-top: -53px;
    position: absolute;
}

div#icon7 > a {
    position: absolute;
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor3);
    padding: 25px;
    margin-left: 520px;
    padding-left: 40px;
    padding-right: 80px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.33);
}

div#icon7 > a:hover {
    background-color: var(--cor1);
    transition-duration: .4s;
    
}

div#icon7 > img {
    position: absolute;
    margin-top: 12.5px;
    margin-left: 915px;
    padding: 13px;
    width: 1.5%;
    border-radius: 8px;
}

img#vetor {
    position: absolute;
    top: 520%;
    margin-left: 650px;
}

div#icon7 > a > strong {
    color: var(--cor0);
}

div#container4 {
    /*background: linear-gradient(to top, var(--cor0), var(--cor1)) ;*/
    background-color: var(--cor0);
}

div#container4 > h1 {
    color: var(--cor3);
    margin-left: 650px;
    padding: 50px;
    font-size: 2.5em;
}

div#obj1{
    position: absolute;
    top: 580%;
    margin-left: 180px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 110px 100px rgba(0, 0, 0, 0.40);
}

div#obj1 > h2 {
    padding-top: 40px;
    font-size: 2em;
}

div#obj1 > p#p11 {
    padding-left: 60px;
    padding-right: 30px;
    font-size: 1em;
    font-weight: normal;
    width: 70%;
}

div#obj2{
    position: absolute;
    top: 580%;
    margin-left: 595px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 110px 100px rgba(0, 0, 0, 0.40);
}

div#obj2 > h2 {
    padding-top: 40px;
    font-size: 2em;
}

div#obj2 > p#p12 {
    padding-left: 60px;
    padding-right: 50px;
    font-size: 1em;
    font-weight: normal;
}

div#obj3{
    position: absolute;
    top: 580%;
    margin-left: 1010px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 110px 100px rgba(0, 0, 0, 0.40);
}

div#obj3 > h2 {
    padding-top: 40px;
    font-size: 2em;
}

div#obj3 > p#p13 {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1em;
    font-weight: normal;
}

footer {
    width: auto;
    background-color: var(--cor2);
    color: var(--cor3);
    position: relative;
}

footer > img#logo{
    position: absolute;
    width: 200px;
    margin-left: 200px;
    margin-top: 70px;
}

footer > img#fb {
    position: absolute;
    width: 18px;
    margin-left: 200px;
    margin-top: 150px;
}

footer > img#ig {
    position: absolute;
    width: 18px;
    margin-left: 230px;
    margin-top: 150px;
}

footer > img#in {
    position: absolute;
    width: 18px;
    margin-left: 260px;
    margin-top: 150px;
}

footer > p#p14 {
    position: absolute;
    font-size: 0.5em;
    margin-left: 200px;
    margin-top: 180px;  
}

footer > p#p15 {
    font-size: 1em;
    margin-left: 900px;
    margin-top: 70px;  
}

footer > p#p16 {
    font-size: 1em;
    margin-left: 900px;
    margin-top: 15px;  
}

footer > p#p17 {
    font-size: 1em;
    margin-left: 900px;
    margin-top: 15px;  
}

footer > p#p18 {
    font-size: 1em;
    margin-left: 900px;
    margin-top: 15px; 
}

.divider {
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: var(--cor3);
    margin-left: 1050px;
    margin-top: 80px;
}

.divider:nth-child(odd) {
    top: 0;
}

.divider:nth-child(even) {
    bottom: 0;
}

footer > p#p19 {
    position: absolute;
    font-size: 1em;
    margin-left: 1100px;
    margin-top: -130px;  
}

footer > p#p20 {
    font-size: 1em;
    margin-left: 1100px;
    margin-top: -90px;  
}

footer > p#p21 {
    font-size: 1em;
    margin-left: 1100px;
    margin-top: 15px;  
}